<div class="container-fluid vh-100 overflow-hidden" [ngClass]="{'dark-mode': theme, 'light-mode': !theme}">


  <div class="header">
    <h2 class="text-center"><button class="btn me-1" [ngClass]="{'btn-outline-light':theme,'btn-outline-secondary':!theme,'btn-primary':player1==='X'}"  (click)="startPlayer('X')" title="X plays first">X</button><button class="btn" [ngClass]="{'btn-outline-light':theme,'btn-outline-secondary':!theme,'btn-primary':player1==='O'}" (click)="startPlayer('O')" title="O plays first">O</button> 
      GAME</h2>
    <div class="d-flex justify-content-between">
      <div>
        <button class="btn mx-2" [ngClass]="{'btn-success':!challenge,'btn-outline-success':challenge}" (click)="selectMode('1vs1')"><span class="bi bi-person"></span> 1 VS 1 <span class="bi bi-person"></span></button>
        <button class="btn btn-outline-success mx-2" (click)="selectMode('1vsAI')" [ngClass]="{'btn-success':challenge,'btn-outline-success':!challenge}"><span class="bi bi-person"></span> 1 VS AI <span class="bi bi-robot"></span></button>
      </div>
      <div>
        <button class="btn" [ngClass]="{'btn-outline-dark bi bi-moon-stars-fill': !theme, 'btn-outline-light bi bi-sun-fill': theme}" (click)="themeClick()"></button>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-1">
        <button class="btn btn-outline-warning" (click)="resetGame()">Reset Board <span class="bi bi-grid-3x3"></span></button>
      <button class="btn btn-outline-warning" (click)="resetScores()">Reset Scores <span class="bi bi-arrow-clockwise"></span></button>
    </div>
    <div *ngIf="challenge" class="d-flex justify-content-between mt-2">
      <button class="btn mx-2" [ngClass]="{'btn-success':!difficulty,'btn-outline-success':difficulty}" (click)="difficultyMode('easy')">Easy</button>
      <button class="btn btn-outline-danger mx-2" (click)="difficultyMode('hard')" [ngClass]="{'btn-danger':difficulty,'btn-outline-danger':!difficulty}">Hard</button>
    </div>
  </div>
  <marquee behavior="" direction=""><span class="bi bi-lightning-fill text-warning"></span>Dhammuunte aadu ra hard game , gelistha vadhilestha ee XO gamu <span class="bi bi-lightning-fill text-warning"></span></marquee>
  <div class="d-flex justify-content-center align-items-center">
    <div class="row w-100">
      <div class="col-lg-4 col-6 order-1 order-lg-1">
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <div class="fs-1 fw-bold text-center" [ngClass]="{'text-primary': wturn}">X <span *ngIf="won == 1" class="text-success">WON</span></div>
            <div class="text-center">Score :<span>{{ XScore }}/{{ totalMatches }}</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 order-3 order-lg-2 d-flex justify-content-center align-items-center game-board flex-lg-nowrap">
        <div #game_board>
          <div>
            <button class="btn" (click)="btnClick($event, 1)"></button>
            <button class="btn" (click)="btnClick($event, 2)"></button>
            <button class="btn" (click)="btnClick($event, 3)"></button>
          </div>
          <div>
            <button class="btn" (click)="btnClick($event, 4)"></button>
            <button class="btn" (click)="btnClick($event, 5)"></button>
            <button class="btn" (click)="btnClick($event, 6)"></button>
          </div>
          <div>
            <button class="btn" (click)="btnClick($event, 7)"></button>
            <button class="btn" (click)="btnClick($event, 8)"></button>
            <button class="btn" (click)="btnClick($event, 9)"></button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 order-2 order-lg-3">
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <div class="fs-1 fw-bold text-center" [ngClass]="{'text-primary': !wturn}">O <span *ngIf="won == -1" class="text-success">WON</span></div>
            <div class="text-center">Score :<span>{{ OScore }}/{{ totalMatches }}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <h4 *ngIf="challenge">Human Vs AI(O)</h4>
    <h4 *ngIf="!challenge">Human vs Human</h4>
  </div>

</div>